
:root{
    --link-color: #212121;
        --heading-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.link-class {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 26 px;
}
    .text-blue {
            color: #2196F3;
        }
    
        .text-white {
            color: #000000;
        }
    
.global-header {
    background-color: #fff;
    font-family: var(--heading-font-family);
    font-size: 14px;
    font-weight: 500;
    display:inline;
}
/*--Link section--*/
 .list-class {
    list-style-type: none;
}
 .global-header .main-navigation .list-class a:link,
 .global-header .main-navigation .list-class a:visited {
    color: rgba(33, 33, 33, 1);
}
.global-header .main-navigation .list-class a:hover {
    color: #2196F3;
}

.global-header .main-navigation .list-class { 
    cursor:poiter;
}
/*--Contact--*/
 .main-navigation .contact {
    list-style-type: none;
}

.global-header .main-navigation .contact 
a:hover {
    color:#2196F3;
}

.first-section{
    background: #2F303A;
    text-align: center;
    

}
.first-section .head-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    color: #ffff;
    text-align: center;
    font-family: var(--heading-font-family);
}
.first-section .button1 {
    background-color: #2196F3;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 6%;
        size: 16px;
        line-height: 30px;
        border-radius: 3px;
        font-family: var(--heading-font-family);
}

.second-section {
    background: #fff;
    list-style-type: none;
}
.second-section .htwo-text {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3%;
    color: #212121;
    font-family: var(--heading-font-family);
    
}
.second-section .text-list {
    list-style-type: none;
}
.second-section .ptwo-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3%;
    color: #757575;
    font-family: var(--heading-font-family);
}

.section-three {
    background-color: #fff;
}
.image-whatwedo {
    list-style-type: none;
}
.section-three .hthree-text {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 3%;
    color: #212121;
    font-family: var(--heading-font-family);
}
.image-ourteam {
    list-style-type: none;
}
.section-four {
    font-size: 16px;
    text-align: center;
    letter-spacing: 3%;
    font-family: var(--heading-font-family);
}

.section-four .hfour-text {
    font-weight: 700;
    color: #212121;
}

.section-four .hfive-text {
    font-weight: 500;
    color: #212121;
}

.section-four .pfour-text {
    font-weight: 400;
    color: #757575;
}
.global-footer {
    background: #2F303A;
    text-align: left;

    
}
.golbal-footer .text-whites {
color: white;
}
.global-footer .footer-address {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3%;
    color: #fff;
    font-family: var(--heading-font-family);
}




.global-footer .footer-section .blue-text {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26 px;
}
.global-footer .footer-section .white-text {
    color: white;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26 px;
}
.golbal-footer .footer-address .mail-class {
    color: #fff
}

.global-footer .footer-address .tel-text {
    color: #fff
}

/*second-page*/
.link-class {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26 px;
}

.text-blue {
    color: #2196F3;
}

.text-white {
    color: #000000;
}

.global-header {
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: inline;
    font-family: var(--heading-font-family);
}

.global-header .main-navigation a:link,
.global-header .main-navigation a:visited {
    color: rgba(33, 33, 33, 1);
}


.global-header .main-navigation a:hover {
    color: #2196F3;
}

.global-header .main-navigation {
    cursor: poiter;
}

.global-header .contact-class .mail-class a:link,
.global-header .contact-class .mail-class a:visited {
    color: #212121;
}

.global.header .contact-class .mail-class a:hover {
    color: #2196F3;
}

global.header .contact-class .mail-class {
    cursor: pointer;
}

.global-header.tel-class .tel-text a:link,
.global-header.tel-class .tel-text a:visited {
    color: #212121;
}

.global-header.tel-class .tel-text a:hover {
    color: #2196F3;
}

.global-header.tel-class .tel-text {
    cursor: poiter;
}

/*buttun section*/
.button-class {
    list-style-type: none;
}
.button-section .button {
    background-color: #F5F4FA;
        border: none;
        color: #212121;
        text-align: center;
        text-decoration: none;
        display:inline;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 3%;
        size: 16px;
        line-height: 26px;
        border-radius: 3px;
        cursor: pointer;
        list-style-type: none;
        font-family: var(--heading-font-family);
        }
.button-section .button:hover {
    background-color: #2196F3;
    
    color: white;
}


/*image section*/
.image-class {
    list-style-type: none;
}
.image-section .image-text {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6%;
    color:#212121;
    font-family: var(--heading-font-family);

}

.image-section .description-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3%;
    color:#757575;
    font-family: var(--heading-font-family);
}
.global-footer {
    background: #2F303A;
    text-align: left;


}

.golbal-footer .text-whites {
    color: white;
}

.global-footer .footer-address {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3%;
    color: #fff;
    font-family: var(--heading-font-family);
}

.global-footer .footer-section .blue-text {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26 px;


.global-footer .footer-section .white-text {
    color: white;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26 px;
}

.golbal-footer .footer-address .mail-class {
    color: #fff
}

.global-footer .footer-address .tel-text {
    color: #fff
}